.subscribe-area{
    background-color: #3B2F4A;
    font-family: Poppins;
    min-height: 200px;
    color: white;
}
.input-area{
    margin-top: 50px;
}
.input-area input{
    width: 50%;
    height: 40px;
    border-radius: 5px;
}
.subscribe-right-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;;
}